:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary: #242424;
  --primaryDark: #242424;
  --secondary: #242424;
  --secondaryDark: #242424;
  --accent: #242424;
  --accentDark: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn_custom {
  @apply px-4 py-2 bg-blue-400 rounded-md
}

